<% include header.ejs %>

<div id="gridcontainer">
    <div id="item-aa">
      <% include logo.ejs %>
    </div>

    <div id="item-ab">
      <% include icons.ejs %>
    </div>

    <div id="item-ac">
      <% include nav.ejs %>
    </div>

    <div id="item-b" class="page">
      <img src="/img/express.png" alt="logo_express">
      <p>
        Express.js, or simply Express, is a web application framework for Node.js, released as free and open-source software under the MIT License. It is designed for building web applications and APIs. It is in fact the standard server framework for Node.js.The original author, TJ Holowaychuk, described it as a Sinatra-inspired server, meaning that it is relatively minimal with many features available as plugins. Express is the backend part of the MEAN stack, together with MongoDB database and AngularJS frontend framework.
      </p>
      <p>More info: <a href="https://expressjs.com/">Express</a></p>
    </div>



    <% include gototop.ejs %>
</div>

<% include footer.ejs %>
