<a href="https://www.facebook.com/" id="icon"><i class="fa fa-facebook" aria-hidden="true" ></i></a>
<a href="https://twitter.com/" id="icon"><i class="fa fa-twitter" aria-hidden="true"></i></a>
<a href="https://www.instagram.com/" id="icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
