<% include header.ejs %>

<div id="gridcontainer">
    <div id="item-aa">
      <% include logo.ejs %>
    </div>

    <div id="item-ab">
      <% include icons.ejs %>
    </div>

    <div id="item-ac">
      <% include nav.ejs %>
    </div>

    <div id="item-b" class="page">
      <img src="/img/mongodb.png" alt="logo_mongodb">
      <p id="special">
        MongoDB is a document database with the scalability and flexibility that you want with the querying and indexing that you need
      </p>
      <p>
        MongoDB stores data in flexible, JSON-like documents, meaning fields can vary from document to document and data structure can be changed over time
      </p>
      <p>The document model maps to the objects in your application code, making data easy to work with</p>
      <p>Ad hoc queries, indexing, and real time aggregation provide powerful ways to access and analyze your data</p>
      <p>
        MongoDB is a distributed database at its core, so high availability, horizontal scaling, and geographic distribution are built in and easy to use
      </p>
      <p>MongoDB is free and open-source, published under the GNU Affero General Public License</p>
      <p>More info: <a href="https://www.mongodb.com/">MongoDB</a></p>
    </div>



    <% include gototop.ejs %>
</div>

<% include footer.ejs %>
