<div id="nav">
  <a href="/mongodb">MongoDB</a>
  <a href="/expres">Express</a>
  <a href="/react">React</a>
  <a href="/node">Node</a>
  <a href="/redux">Redux</a>
  <a href="/reactnative">React Native</a>
</div>
