<% include header.ejs %>

<div id="gridcontainer">
    <div id="item-aa">
      <% include logo.ejs %>
    </div>

    <div id="item-ab">
      <% include icons.ejs %>
    </div>

    <div id="item-ac">
      <% include nav.ejs %>
    </div>

    <div id="item-b" class="page">
      <img src="/img/reactnative.png" alt="logo_reactnative">
      <p>
        With React Native, you don't build a “mobile web app”, an “HTML5 app”, or a “hybrid app”. You build a real mobile app that's indistinguishable from an app built using Objective-C or Java. React Native uses the same fundamental UI building blocks as regular iOS and Android apps. You just put those building blocks together using JavaScript and React.
      </p>
      <p>More info: <a href="http://www.reactnative.com/">React Native</a></p>
    </div>



    <% include gototop.ejs %>
</div>

<% include footer.ejs %>
