<% include header.ejs %>

<div id="gridcontainer">
    <div id="item-aa">
      <% include logo.ejs %>
    </div>

    <div id="item-ab">
      <% include icons.ejs %>
    </div>

    <div id="item-ac">
      <% include nav.ejs %>
    </div>

    <div id="item-b" class="page">
      <img src="/img/react.png" alt="logo_react">
      <p>
        In computing, React (sometimes styled React.js or ReactJS) is a JavaScript library for building user interfaces.It is maintained by Facebook, Instagram and a community of individual developers and corporations.React allows developers to create large web-applications that use data that can change over time, without reloading the page. It aims primarily to provide speed, simplicity and scalability. React processes only user interfaces in applications. This corresponds to View in the Model-View-Controller (MVC) pattern, and can be used in combination with other JavaScript libraries or frameworks in MVC, such as AngularJS.
      </p>
      <p>More info: <a href="https://facebook.github.io/react/">React.js</a></p>
    </div>



    <% include gototop.ejs %>
</div>

<% include footer.ejs %>
